@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {

    background-color: #1D2121;
    margin: 0;
    
}

.container {
    display:flex;
    font-family: 'Roboto',sans-serif;
}

.nav{
    height: 50px;
    width: 100%;
    background-color:  #0D1313;
    flex-direction: row;
    align-items: center;
    
}

.logo { 
    font-size: 1.5em;
    padding-left: 2%;
    color: white;
}

 .nav-items{
    padding-left: 5%;
}

.nav-items li {
    list-style: none;
    display: inline;
}

.nav-items a {
    text-decoration:none;
    outline: none; 
    color: #A0A0A2;
    text-transform: uppercase;
    padding: 15.5px;
    font-size: .9em;
}

.active a{
    background-color:  #19604D;
    color: #68DDBE;
}

.nav-account { 
    margin-left: auto;
    text-transform: uppercase;
    padding-right: 2%;
    white-space:nowrap
}

.nav-account li {
    display: inline;
    list-style: none;
    color: white;
}

.small-text {
    font-size: .6em;
    padding: 25px 10px 25px 0;
    
}

.nav-account a{
    color: #68DDBE;
    font-size: .9em;
}

.subnav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    width: 100%;
    background-color: #202628;
    margin: 0; 
    padding: 0;
    position: absolute;
}

.subnav li{
    list-style: none;
    display: inline;
}

.subnav a {
    text-decoration:none;
    outline: none; 
    color: #A0A0A2;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.accDropdown {
    width: 20%;
    height: 149px;
    margin: 0 0 0 80%;
    padding: 0;
    background-color: #202628;
    position: absolute;
}

.accDropdown li {
    width: 100%;
    list-style: none;
    border-bottom: .5px solid #68DDBE;
    padding: 15px 0 15px 0;
    text-align: center;
}

.accDropdown a {
    text-decoration: none;
    color: #A0A0A2;
    font-size: .8em;
    padding: 20px;
}

.topContent {
    align-items: center;
    background-color:#1D2121;
    color: white;
    padding: 0 0 0 3%;
    height: 100px;
}

.topContent ul {
    margin: 0 3.5% 0 auto;
    font-size: .8em;
    list-style: none;
}
.topContent li {
    padding: 2.5px;
}

.topContent select {
    /* -webkit-appearance: none;  */
    /* -moz-appearance: none;   */
    background-color:  #1D2121;
    border-radius: 0;  
    color: white;
    width: 150px;
    padding: 3px;
}

.display{
    margin-left: 8px;
}

.middleContent {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 75px;
    background: white;
}
.middleContent h2 {
    margin: 0;
    padding: 0;
}
.middleContent li{
    color: orange;
    list-style: none;
    padding: 0;
    margin: 0;
}

.graphs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.graph {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 45%;
    width: 45%;
    border: .5px solid white;
    /* border-radius: 15px; */
    background-color: lightgreen;
    margin-top: 15px;
}

